<p>Dear {{user.name}},</p>
<p>Thank you for registering as a candidate with our organization. We are thrilled to have you on board!</p>

<p>We appreciate your interest and look forward to reviewing your application. Should you have any questions or require further information, please don't hesitate to reach out to us.</p>
<p>Once again, thank you for choosing us as your potential employer. We wish you the best of luck throughout the selection process.</p>
<p>following link to update your registered data within 7 days:</p>
<a href="{{ registration_link }}">{{ registration_link }}</a>
<p>Best regards,</p>
<p> BN Constructions Pvt.ltd</p>


