<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registration</title>
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">

  <!-- --------------------navbar--------------- -->
 



  <!-- --------------------navbar--------------- -->


  <div class="row">
    <div class="col-md-6">
      <!-- ---------Registration part----- -->
        <fieldset>
          <legend>Registration Form</legend>
          <div class="form-group row">
            <!-- <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
              <input type="text" readonly="" class="form-control-plaintext" id="staticEmail" value="email@example.com">
            </div> -->
      <form method="post" enctype="multipart/form-data">

              {% csrf_token %}
              <!-- {{ form.as_p }} -->

              <!-- -----mesages----- -->

              {% if messages %}
              <ul class="messages">
                {% for message in messages %}
                  <li {% if message.tags %} class="text-success {{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
              </ul>
            {% endif %}

              <!-- -----mesages----- -->

              <div class="form-group">
                <label for="{{ form.name.id_for_label }}">Name:</label>
                {{ form.name }}
                {% if form.name.errors %}
                <ul class="text-danger">
                  {% for error in form.name.errors %}
                  <li>{{ error }}</li>
                  {% endfor %}
                </ul>
                {% endif %}
              </div>
              <div class="form-group">
                <label for="">Email:</label>
                {{ form.email }}
                {% if form.email.errors %}
                <ul class="text-danger">
                  {% for error in form.email.errors %}
                  <li>{{ error }}</li>
                  {% endfor %}
                </ul>
                {% endif %}
              </div>

              <div class="form-group">
                <label for="">Mobile:</label>
                {{ form.mobile }}
                {% if form.mobile.errors %}
                <ul class="text-danger">
                  {% for error in form.mobile.errors %}
                  <li>{{ error }}</li>
                  {% endfor %}
                </ul>
                {% endif %}
              </div>

              <div class="form-group">
                <label for="">Highest_qualification :</label>
                {{ form.highest_qualification }}
                {% if form.highest_qualification.errors %}
                <ul class="text-danger">
                  {% for error in form.highest_qualification.errors %}
                  <li>{{ error }}</li>
                  {% endfor %}
                </ul>
                {% endif %}
              </div>

              <div class="form-group">
                <label for="">Specialized_subject :</label>
                {{ form.specialized_subject }}
                {% if form.specialized_subject.errors %}
                <ul class="text-danger">
                  {% for error in form.specialized_subject.errors %}
                  <li>{{ error }}</li>
                  {% endfor %}
                </ul>
                {% endif %}
              </div>

              <div class="form-group">
                <label for="">Photo:</label>
                {{ form.photo }}
                {% if form.photo.errors %}
                <ul class="text-danger">
                  {% for error in form.photo.errors %}
                  <li>{{ error }}</li>
                  {% endfor %}
                </ul>
                {% endif %}
              </div>

              <div class="form-group">
                <label for="">Resume:</label>
                {{ form.resume }}
                {% if form.resume.errors %}
                <ul class="text-danger">
                  {% for error in form.resume.errors %}
                  <li>{{ error }}</li>
                  {% endfor %}
                </ul>
                {% endif %}
              </div>
              


          <input type="submit" class="btn btn-primary" value="Submit">

              <a>Cancel</a>
          </form>
          </div>
        </fieldset>



      <!-- ---------Registration part----- -->

    </div>
    <!-- <div class="col-md-6">
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        
        <button type="submit" class="btn btn-primary">Submit</button>

        <a>Cancel</a>
      </form>
    </div> -->
  </div>
</div>






</body>
</html>




  