
<style>
    table{
      


        width:100%;
        margin-bottom:20px;
    }
    th,td{
        text-align:left;
        padding:8px;
        border: 1px solid black;
    }
</style>
<table border ="1" cellpadding="0"cellspacing="0"style = "border-collapse:collapse" >
    <thead>
    <tr>
        <th>    process_id  </th>
        <th> title    </th>
        <th> process_file_location </th>
        <th>    process_status </th>
        <th> return_status</th>
    </tr>
</thead>
<tbody>
    {% for obj in data %}
    <tr>
        <td>{{obj.id}}</td>
    <td>{{obj.name}}</td>
    <td>{{obj.email}}</td>
    <td>{{obj.mobile}}</td>
    <td>{{obj.Message}}</td>
  <td>

</tbody>
</table>
